.collection-preview{
	display: flex;
	flex-direction : column;
	margin-bottom: 30px;

  @media screen and (max-width: 800px) {
    align-items: center;
  }

  .title {
  	font-size: 28px;
  	margin-bottom: 25px;
    width: 3.5%;
    cursor: pointer;

   @media screen and (max-width: 800px) {
    margin-left: -60px;
    color : #DA8717
  }
    
  &:hover {
    color: grey;
  }
}
  .preview {
  	display: flex;
  	justify-content: space-between;

  @media screen and (max-width: 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
  }
  }
}