.collection-page {
	display : flex;
	flex-direction : column;

	.title {
		font-size: 35px;
		margin : 0 auto 30px;
     @media screen and (max-width: 800px) {
    color: #DA8717;
  }
	}
	.items {
		display : grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap : 10px;

		 @media screen and (max-width: 800px) {
          grid-template-columns : 1fr 1fr;
          width: 95vw;
		 }

	  &.collection-item {
	  	margin-bottom: 30px;

	  	 // @media screen and (max-width: 800px) {
	  	 // 	margin-bottom: 0px;
	  	 // }
	  }
	}
}