
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.sign-in {
	width: 380px;
	display: flex;
	flex-direction: column;

  .title {
  	margin: 10px 0;
  }


  .buttons {
  	display: flex;
  	justify-content: space-between;

@media screen and (max-width : 375px) {

    margin-left: 7px;
    margin-right: 81px;
}

@media screen and (max-width: 420) and (min-width: 410px){
  margin-right: 6px;
  margin-left: 16px;
}

  }
  .forgot {
    color : #1D1959;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
     width : 44.3%;

    &:hover {
      color: blue;

    }
  }

}