  
.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
  }

  .cart-items::-webkit-scrollbar {
  width: 17px;
}
  .cart-items::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 60px;
}
 .cart-items::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: grey;
}

 
  button {
    margin-top: auto;
  }
}