@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.password-reset {
	width: 60vw;
	text-align: center;
	float : center;

@media screen and (max-width : 800px) {
	width : 80vw;
  margin-top: 70px;
	h1 {
		font-size: 1.5em;
	}

}
//  .form-input-label {
//   left : -91px;
// }
// .form-input-label.shrink {
// 	font-size: 15px;
// }
// .google-sign-in {
// 	margin-left: -71px; 
// }
// }


  form {
  	text-align: center;
  	margin: auto;
  	width : 30vw;

  	@media screen and (max-width: 800px) {
  		width: 73vw;
  	}

  }
}