@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.password-reset {
	width: 60vw;
	text-align: center;
	float : center;

  .email-link {
  	font-family: 'Roboto', sans-serif;
  	font-size: 0.9em;
    color : green;
  }
  .error {
    font-family: 'Roboto', sans-serif;
  	font-size: 0.9em;
  	color : red;
  }
  form {
  	text-align: center;
  	margin: auto;
  	width : 30vw;

  }
}