.directory-menu {
  overflow-x : hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

@media screen and (max-width: 800px) {
      display: grid;
    grid-template-columns: 1fr auto;
  }
}
