  
.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  @media screen and (max-width: 800px) {
    width: 70vw;
  }

  @media screen and (max-width: 450px) and (min-width : 380px) {
    width : 78vw;
  }

    @media screen and (max-width: 376px)  {
      width : 80vw;
    }

  .image-container {
    width: 23%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;

    @media screen and (max-width: 800px) and (min-width: 400px) {
      margin-left: 10px;
      margin-right: 10px;
    }
      @media screen and (max-width: 376px) and (min-width: 365px) {
        margin-left: 24px; 
      }
      @media screen and (max-width: 360px) {
        margin-left: 26px; 
      }
  }

  .quantity {
     display: flex;

     .arrow {
      cursor: pointer;
     }
     .value {
       margin: 0px 10px;
     }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;

    @media screen and (max-width: 800px) and (min-width: 390px) {
     padding-left: 0px;
     margin-right: 17px;
    }
    @media screen and (max-width: 376px) {
      margin-right: 20px;
    }
  }
}