  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  .valid{
  	font-family: 'Roboto', sans-serif;
  	font-size: 0.9em;
    color : green;
  }
  .error {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
  	font-size: 0.9em;
  	color : red;
  }